@media screen and (max-width: 768px) {
  .portfolio_section .portfolio_container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 500px) {
  .portfolio_section .portfolio_container {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
}

.link-box a{
  color: #fff;
  text-decoration: none;
  font-size: 4rem;
}

.hero-video{
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}
.hero-video video{
  width: 100%;
}